<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { userSession, blockstack } from "boot/blockstack";
import { mapActions } from "vuex";

export default {
  name: "App",
  async created() {
    if (userSession.isUserSignedIn()) {
      // this.fetchData();
      this.$q.loading.show();
      this.setProfile();
      this.init();
      this.$q.loading.hide();

      this.$router.push("/webby");
    } else if (userSession.isSignInPending()) {
      userSession.handlePendingSignIn().then(() => {
        this.setProfile();

        window.location = window.location.href.split("?")[0];
        this.$router.push("/webby");
      });
    }
  },
  methods: {
    ...mapActions({
      init: "init",
      setUser: "setUser"
    }),
    setProfile() {
      let userData = userSession.loadUserData();
      let person = new blockstack.Person(userData.profile);
      let user = {
        name: person.name(),
        avatar: person.avatarUrl(),
        id: userData.username
      };
      this.setUser(user);
    }
  }
};
</script>

<style></style>
