/* eslint-disable semi */
<template>
  <q-layout view="lHh LpR fFr">
    <q-header>
      <div class="top-bar">
        <div class="top-bar-content">
          <img
            src="/statics/images/logo-color-positive.svg"
            alt
            class="webby-logo"
          />
          <!-- <div class="top-bar-search">
            <div class="top-bar-search-left">
              <img src="/statics/images/search.svg" alt class="search-icon" />
              <div class="search-text">Search Webby</div>
            </div>
            <div
              class="top-bar-search-right"
              style="backgroundImage: url('/statics/avatar-placeholder.png')"
            ></div>
          </div>-->
          <div
            class="top-bar-search"
            :style="$q.screen.xs ? 'width: 100%;' : ''"
          >
            <div class="top-bar-search-left">
              <img
                src="/statics/images/search.svg"
                height="24px"
                class="search-icon"
              />
            </div>
            <!-- <q-input
              borderless
              clearable
              dense
              autogrow
              placeholder="Search Webby"
              @input="setSearchTerm"
              @clear="$nextTick(() => clearSearch)"
            />-->
            <input
              type="search"
              id="search"
              placeholder="Search Webby"
              style="border: none; flex-grow: 2;"
              @input="setSearchTerm"
              @click:clear="$nextTick(() => clearSearch)"
            />
            <div class="avatar-right-margin">
              <q-btn flat round>
                <img
                  height="28px"
                  :src="user.avatar || '/statics/avatar-placeholder.png'"
                  style="border-radius: 50%;"
                />
                <q-menu :offset="[70, -5]">
                  <q-list style="min-width: 100px">
                    <!-- <q-item clickable v-close-popup>
                      <q-item-section>Export Data</q-item-section>
                    </q-item> -->
                    <!-- <q-item clickable v-close-popup @click="toggleDarkMode">
                      <q-item-section>Dark Mode</q-item-section>
                    </q-item> -->
                    <q-separator />
                    <q-item clickable v-close-popup @click="signOut">
                      <q-item-section>Sign Out</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { userSession } from "boot/blockstack";

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: true,
      tab: "dapps",
      dialog: false
    };
  },
  computed: {
    ...mapGetters({
      user: "user"
    })
  },
  methods: {
    ...mapActions({
      setSearchTerm: "setSearchTerm"
    }),
    toggleDarkMode() {
      this.$q.dark.set(!this.$q.dark.mode);
    },
    signOut() {
      userSession.signUserOut("/");
    }
  }
};
</script>

<style>
input:focus {
  outline: none;
}
.searchbox {
  border: 0px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 40x;
  flex-direction: row;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}
.search-icon {
  margin-right: 7px;
  padding-top: 3px;
}
input[type="search"] {
  background: transparent;
  border: none;
}
.avatar-right-margin {
  margin-right: 8px;
}
</style>
